* {
    box-sizing: border-box;
  }

  body {
      text-align: center;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #FE5936;
  }

  a {
    cursor: pointer;
    font-family: 'Overpass Mono', monospace;
    text-decoration: none;
  }

  a:hover {
    color: #7f36fe;
  }

  nav, footer {
      padding: 2% 0;
      background-color: #e5775e;
  }

  footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  footer a {
    color: #febf36;
  }

  footer p {
      margin: 0;
      font-size: .8em;
      padding-right: 2%;
      font-weight: bold;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
  }

  nav ul li {
      display: inline-block;
  }

   nav a {
      color: #febf36;
      font-weight: bold;
      font-size: 1.4em;
  }

  header {
      padding: 60% 0;
      height: 100vh;
      color: #FFFFFF;
  }

  header h1 {
    font-family: 'Nixie One', cursive;
    font-size: 3.8em;
    letter-spacing: .05em;
  }

  header p {
    font-size: 1.5em;
    letter-spacing: .03em;
  }

  .bio-page {
    height: 100vh;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
  }

  .bio-page p {
    font-size: 1em;
    padding: 4%;
    text-align: left;
    line-height: 1.4;
    letter-spacing: .05em;
    color: #FFFFFF;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .contact ul li {
    display: block;
  }

  .contact li {
    margin: 3% auto;
    width: 75%;
    background-color: #e5775e;
    border-radius: 10px;
  }

  .contact a {
    display: inline-block;
    color: #febf36;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 2% 0;
  }

   a.reverse {
    background-color: #febf36;
    color: #e5775e;
    border-radius: inherit;
    }

    .contact a:hover {
      color: #7f36fe;
    }

  .projects-page {
    min-height: 100vh;
    padding: 10% 0;
  }

  .project {
    min-height: 200px;
    width: 90%;
    border: solid black 1px;
    margin: 10% auto;
    background-color: #DAF7A6;
  }

  .project h2 {
    font-family: 'Nixie One', cursive;
    font-size: 1.3em;
  }

  .project img {
      width: 80%;
      height: 30%;
      margin-top: 1%;
  }

  .project p {
      padding: 3% 3%;
      font-size: 1em;
      text-align: left;
      line-height: 1.3;
  }

  .project a {
      display: inline-block;
      padding: 3% 2%;
      border-radius: 4%;
      background-color: #e5775e;
      color: #febf36;
      font-weight: bold;
  }

  .project a:hover {
    color: #7f36fe;
  }

  .viewPro {
      position: relative;
      bottom: 0;
      right: 7%;
      margin-bottom: 1%;
  }

  .viewCode {
    position: relative;
    bottom: 0;
    left: 7%;
    margin-bottom: 1%;
  }

  @media only screen and (min-width: 768px) {
    
    header {
      padding: 40% 0;
    }

    footer p {
      font-size: 1.2em;
    }

    header h1 {
      font-size: 4.5em;
      letter-spacing: .05em;
    }
  
    header p {
      font-size: 1.8em;
    }

    .bio-page p {
      width: 75%;
      font-size: 1.5em;
    }

    .contact li {
      width: 50%;
    }

    .project {
      width: 80%; 
    }

    .project h2 {
      font-size: 1.8em;
    }

    .project p {
      font-size: 1.3em;  
  }

  .project a {
    font-size: 1.2em;
}

  }

  @media only screen and (min-width: 1200px) {

    header {
      padding: 20% 0;
    }

    nav, footer {
        padding: .4%;
    }

    nav a {
      font-size: 1.6em;
  }

    footer p {
      font-size: 1.4em;
    }

    .bio-page p {
        width: 40%;
        align-self: center;
        font-size: 1.4em;
    }

    .bio-page {
      flex-direction: row;
      justify-content: space-between; 
    }

    .contact {
      justify-content: center;
      width: 50%;
    }

    .contact li {
      width: 40%;
    }

    .contact a {
      font-size: 1.4em;
    }

    .projects-page {
        padding: 1% 0;
    }

    .project {
        width: 40%;
      }

      .project h2 {
        font-size: 1.6em;
      }
  
      .project p {
        font-size: 1em;  
    }
  
    .project a {
      font-size: .8em;
    }

  }